<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All about music</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="container">
<div>
    <h5>Исполнители</h5>
    <form method="POST" action="AddArtist/">
        {% csrf_token %}
        {{ formArtist.as_table }}
        <input class="btn btn-primary" type="submit" value="Сохранить" name="bntAddArtist">
    </form>
    <br>
    <h5>Список исполнителей</h5>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Имя исполнителя</th>
        </tr>
        </thead>
        {% for artist in artist %}
        <tr>
            <td>{{ artist.artists_name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<div>
    <h5>Альбомы</h5>
    <form method="POST" action="AddAlbum/">
        <div class="form-group">
            {% csrf_token %}
            {{ formAlbum.as_table }}
        </div>
        <input class="btn btn-primary" type="submit" value="Сохранить" name="bntAddAlbum">
    </form>
    <br>
    <h5>Список альбомов</h5>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Обложка</th>
            <th>Название</th>
            <th>Исполнитель</th>
            <th>Дата релиза</th>
        </tr>
        </thead>
        {% for album in album %}
        <tr>
            <td>
               <img src="media/{{ album.cover }}" height="100" width="100"/>
            </td>
            <td>{{ album.name_of_album }}</td>
            <td>{{ album.artists}}</td>
            <td>{{ album.release_date}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
<div>
    <h5> Треки </h5>
    <form method="POST" action="AddTrack/">
        {% csrf_token %}
        {{ formTrack.as_table }}
        <input class="btn btn-primary" type="submit" value="Сохранить" name="btnAddTrack">
    </form>
    <br>
    <h5>Список треков</h5>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Наименование</th>
            <th>Исполнитель</th>
            <th>Альбом</th>
            <th>Трек</th>
        </tr>
        </thead>
        {% for music_track in music_track %}
        <tr>
            <td>{{ music_track.songs_title }}</td>
            <td>{{ music_track.artist}}</td>
            <td>{{ music_track.album}}</td>
            <td>
                <audio src="{{ music_track.track }}"/>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>