{% extends 'base.html' %}
{% block content %}
<div style="
background: rgba(20,23,25, 0.5);
display: flex;
width: 100%;
height: 500px;
padding-top: 100px;
padding-left: 10%;
">
    <div>
        <form action="post">
             {% load crispy_forms_tags %}
            {% csrf_token %}
            {{ formGenerate|crispy }}

            <div style="padding-left: 250px; padding-top: 30px;">
                <button class="btn btn-light">
                    GENERATE
                </button>
            </div>
            <br>
            {% load crispy_forms_tags %}
            {% csrf_token %}
            {{ formGenerate|crispy }}

        </form>
    </div>
    <div style="padding-left: 90px; padding-top: 120px; ">
        <audio controls>
            <source src="" type="audio/mpeg">
        </audio>

    </div>
    <div style="padding-top: 120px; padding-left: 50px;">
        <button class="btn btn-light" style="height: 45px; ">
            DOWNLOAD
        </button>
    </div>
    <form method="post" action="Generate/" enctype="multipart/form-data">
        </form>
</div>
{% endblock %}